{{!< default}}

<main class="reading-list-content page-content">
  <div class="page-header reading-list-header-holder">
    <h1 class="site-inner reading-list-header">
      Software Development Reading List
    </h1>
    <p class="reading-list-description site-inner">
      These are the books I have read or plan to read to become a better developer.
    </p>
  </div>
  <div class="reading-list-table">
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell table-header">Book</div>
          <div class="table-cell table-header">Expected Length</div>
          <div class="table-cell table-header">Progress</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://pragprog.com/book/dnvim/practical-vim">
              <img src="{{asset "images/reading-list/practical-vim.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Practical Vim</div>
                <div class="reading-list-book-author">by Drew Neil</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">2 months</div>
          <div class="table-cell reading-list-progress">0%</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://www.nostarch.com/clojure">
              <img src="{{asset "images/reading-list/clojure-brave-true.png"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Clojure for the Brave and True</div>
                <div class="reading-list-book-author">by Daniel Higginbotham</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">2 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://www.masteringemacs.org/">
              <img class="no-shadow" src="{{asset "images/reading-list/mastering-emacs.png"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Mastering Emacs</div>
                <div class="reading-list-book-author">by Mickey Petersen</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">2 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://www.manning.com/fogus2/">
              <img src="{{asset "images/reading-list/joy-of-clojure.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">The Joy of Clojure</div>
                <div class="reading-list-book-author">by Michael Fogus and Chris Houser</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">3 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://store.doverpublications.com/0486478831.html">
              <img src="{{asset "images/reading-list/lambda-calculus.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">An Introduction to Functional Programming Through Lambda Calculus</div>
                <div class="reading-list-book-author">by Greg Michaelson</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">3 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://mitpress.mit.edu/books/little-schemer">
              <img src="{{asset "images/reading-list/little-schemer.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">The Little Schemer</div>
                <div class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">2 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://mitpress.mit.edu/books/seasoned-schemer">
              <img src="{{asset "images/reading-list/seasoned-schemer.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">The Seasoned Schemer</div>
                <div class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">2 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://mitpress.mit.edu/books/reasoned-schemer">
              <img src="{{asset "images/reading-list/reasoned-schemer.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">The Reasoned Schemer</div>
                <div class="reading-list-book-author">by Daniel P. Friedman, William E. Byrd, and Oleg Kiselyov</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">3 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://mitpress.mit.edu/books/introduction-algorithms">
              <img src="{{asset "images/reading-list/introduction-algorithms.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Introduction to Algorithms</div>
                <div class="reading-list-book-author">by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">5 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://learnyouahaskell.com/">
              <img src="{{asset "images/reading-list/learn-you-a-haskell.png"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Learn You a Haskell for Great Good!</div>
                <div class="reading-list-book-author">by Miran Lipovača</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">4 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://www.bash2zsh.com/">
              <img src="{{asset "images/reading-list/bash-to-zsh.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">From Bash to Z Shell: Conquering the Command Line</div>
                <div class="reading-list-book-author">by Oliver Kiddle, Jerry Peek, and Peter Stephenson</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">4 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://www.duntemann.com/assembly.html">
              <img src="{{asset "images/reading-list/assembly.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Assembly Language Step by Step: Programming with Linux</div>
                <div class="reading-list-book-author">by Jeff Duntemann</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">5 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://www.nostarch.com/hacking2.htm">
              <img src="{{asset "images/reading-list/hacking.png"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Hacking: The Art of Exploitation</div>
                <div class="reading-list-book-author">by Jon Erickson</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">5 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://freecomputerbooks.com/The-C-Programming-Language.html">
              <img src="{{asset "images/reading-list/c-programming.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">The C Programming Language</div>
                <div class="reading-list-book-author">by Brian W. Kernighan and Dennis M. Ritchie</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">6 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://www.nand2tetris.org/book.php">
              <img src="{{asset "images/reading-list/elements-computing-systems.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">The Elements of Computing Systems: Building a Modern Computer from First Principles</div>
                <div class="reading-list-book-author">by Noam Nisan and Shimon Schocken</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">4 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://www.charlespetzold.com/code/">
              <img src="{{asset "images/reading-list/code-hidden-language.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Code: The Hidden Language of Computer Hardware and Software</div>
                <div class="reading-list-book-author">by Charles Petzold</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">3 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://mitpress.mit.edu/sicp/full-text/book/book.html">
              <img src="{{asset "images/reading-list/structure-interpretation.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Structure and Interpretation of Computer Programs</div>
                <div class="reading-list-book-author">by Harold Abelson and Gerald Jay Sussman with Julie Sussman</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">5 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://us.macmillan.com/thenewturingomnibus/akdewdney">
              <img src="{{asset "images/reading-list/turing-omnibus.png"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">The New Turing Omnibus: 66 Excursions in Computer Science</div>
                <div class="reading-list-book-author">by A.K. Dewdney</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">3 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://freecomputerbooks.com/Programming-Pearls-2nd-Edition.html">
              <img src="{{asset "images/reading-list/programming-pearls.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Programming Pearls</div>
                <div class="reading-list-book-author">by Jon Bentley</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">3 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="http://gameprogrammingpatterns.com/">
              <img src="{{asset "images/reading-list/game-programming.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Game Programming Patterns</div>
                <div class="reading-list-book-author">by Robert Nystrom</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">4 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
    <div class="table-row-holder">
      <div class="table-row-inner-holder site-inner">
        <div class="table-row">
          <div class="table-cell">
            <a href="https://progit.org/">
              <img src="{{asset "images/reading-list/pro-git.jpg"}}"><br class="smartphone-only">
              <div class="reading-list-book-info">
                <div class="reading-list-book-title">Pro Git</div>
                <div class="reading-list-book-author">by Scott Chacon and Ben Straub</div>
              </div>
            </a>
          </div>
          <div class="table-cell reading-list-expected-length">2 months</div>
          <div class="table-cell reading-list-progress">&#8212;</div>
        </div>{{! .table-row }}
      </div>{{! .table-row-inner-holder }}
    </div>{{! .table-row-holder }}
  </div>{{! .reading-list-table }}
</main>